mixin menu-side()
    nav.menu-side&attributes(attributes)
        ul.menu-side__list
            li.menu-side__item
                if section == "buy"
                    a(href="card.html").menu-side__link.active Купить
                else
                    a(href="card.html").menu-side__link Купить
            li.menu-side__item
                if section == "sale"
                    a(href="sale.html").menu-side__link.active Продать
                else
                    a(href="sale.html").menu-side__link Продать
            li.menu-side__item
                if section == "services"
                    a(href="services.html").menu-side__link.active Услуги
                else
                    a(href="services.html").menu-side__link Услуги
                ul.menu-side-sub
                    li.menu-side-sub__item
                        a(href="services.html#services-credit").menu-side-sub__link Получить кредит
                    li.menu-side-sub__item
                        a(href="services.html#services-evaluation").menu-side-sub__link Оценка изделий
                    li.menu-side-sub__item
                        a(href="services.html#services-shop").menu-side-sub__link Комиссионный магазин
                    li.menu-side-sub__item
                        a(href="services.html#services-remont").menu-side-sub__link Ремонт часов
                    li.menu-side-sub__item
                        a(href="services.html#services-storage").menu-side-sub__link Хранение и страхование
            li.menu-side__item
                if section == "blog"
                    a(href="blog.html").menu-side__link.active Блог
                else
                    a(href="blog.html").menu-side__link Блог
            li.menu-side__item
                if section == "about"
                    a(href="about.html").menu-side__link.active О нас
                else
                    a(href="about.html").menu-side__link О нас
            li.menu-side__item
                if section == "contacts"
                    a(href="contacts.html").menu-side__link.active Контакты
                else
                    a(href="contacts.html").menu-side__link Контакты
