include ../button-more/button-more

mixin block-blog(title)
    section.block-blog&attributes(attributes)
        .block-blog__in
            h2.block-blog__title= title
            .block-blog__articles
                .article-card
                    img(src="assets/img/blog/article-1.jpg" alt="").article-card__img
                    h3.article-card__title
                        a(href="article.html") Черно – белое настроение от Jacques Leman
                    p.article-card__text Фирма Jacques Lemans заслужила доверие поклонников, оставаясь стильной.
                .article-card
                    img(src="assets/img/blog/article-2.jpg" alt="").article-card__img
                    h3.article-card__title
                        a(href="article.html") Черно – белое настроение от Jacques Leman
                    p.article-card__text Фирма Jacques Lemans заслужила доверие поклонников, оставаясь стильной.
                .article-card
                    img(src="assets/img/blog/article-3.jpg" alt="").article-card__img
                    h3.article-card__title
                        a(href="article.html") Черно – белое настроение от Jacques Leman
                    p.article-card__text Фирма Jacques Lemans заслужила доверие поклонников, оставаясь стильной.

            +button-more()

mixin block-blog-main(title)
    section.block-blog.block-blog--white&attributes(attributes)
        .block-blog__in
            h2.block-blog__title= title
            .block-blog__articles
                .article-card
                    img(src="assets/img/blog/article-1.jpg" alt="").article-card__img
                    h3.article-card__title
                        a(href="article.html") Черно – белое настроение от Jacques Leman
                    p.article-card__text Фирма Jacques Lemans заслужила доверие поклонников, оставаясь стильной.
                .article-card
                    img(src="assets/img/blog/article-2.jpg" alt="").article-card__img
                    h3.article-card__title
                        a(href="article.html") Черно – белое настроение от Jacques Leman
                    p.article-card__text Фирма Jacques Lemans заслужила доверие поклонников, оставаясь стильной.
                .article-card
                    img(src="assets/img/blog/article-3.jpg" alt="").article-card__img
                    h3.article-card__title
                        a(href="article.html") Черно – белое настроение от Jacques Leman
                    p.article-card__text Фирма Jacques Lemans заслужила доверие поклонников, оставаясь стильной.
                .article-card
                    img(src="assets/img/blog/article-1.jpg" alt="").article-card__img
                    h3.article-card__title
                        a(href="article.html") Черно – белое настроение от Jacques Leman
                    p.article-card__text Фирма Jacques Lemans заслужила доверие поклонников, оставаясь стильной.
                .article-card
                    img(src="assets/img/blog/article-2.jpg" alt="").article-card__img
                    h3.article-card__title
                        a(href="article.html") Черно – белое настроение от Jacques Leman
                    p.article-card__text Фирма Jacques Lemans заслужила доверие поклонников, оставаясь стильной.
                .article-card
                    img(src="assets/img/blog/article-3.jpg" alt="").article-card__img
                    h3.article-card__title
                        a(href="article.html") Черно – белое настроение от Jacques Leman
                    p.article-card__text Фирма Jacques Lemans заслужила доверие поклонников, оставаясь стильной.
                .article-card
                    img(src="assets/img/blog/article-1.jpg" alt="").article-card__img
                    h3.article-card__title
                        a(href="article.html") Черно – белое настроение от Jacques Leman
                    p.article-card__text Фирма Jacques Lemans заслужила доверие поклонников, оставаясь стильной.
                .article-card
                    img(src="assets/img/blog/article-2.jpg" alt="").article-card__img
                    h3.article-card__title
                        a(href="article.html") Черно – белое настроение от Jacques Leman
                    p.article-card__text Фирма Jacques Lemans заслужила доверие поклонников, оставаясь стильной.
                .article-card
                    img(src="assets/img/blog/article-3.jpg" alt="").article-card__img
                    h3.article-card__title
                        a(href="article.html") Черно – белое настроение от Jacques Leman
                    p.article-card__text Фирма Jacques Lemans заслужила доверие поклонников, оставаясь стильной.
