.block-blog
    width 100%
    background-color #efefef
    margin-bottom 30px
    +below(767px)
        margin-bottom 5px
    &--white
        background-color #fff

    &__in
        container(980px)
        padding 50px 20px 25px

    &__title
        color #383838
        font(PlayBold,75)
        font-size 20px
        line-height 24px
        text-decoration underline
        text-align center
        margin 0 0 40px

    &__articles
        display flex
        flex-flow row wrap
        justify-content space-between
        align-items flex-start
        padding 0
        margin 0
        +below(991px)
            justify-content space-around

.article-card
    flex 0 0 280px
    max-width 280px
    display block
    margin 0 0 15px
    +below(991px)
        margin 0 5px 15px
    +below(479px)
        margin 0 0 15px

    &__img
        display block
        width 100%
        max-width 280px
        height auto
        margin 0 0 20px

    &__title
        color #b38b10
        font(Play,20)
        font-size 18px
        line-height 1.2
        text-transform uppercase
        margin 0 0 10px
        a
            color #b38b10
            text-decoration none
            &:hover
                color @color
                text-decoration underline

    &__text
        color #383838
        font(Light,-10)
        font-size 14px
        margin-bottom 15px

