.sticker
    display block
    // background-color #f00
    // overflow hidden
    position fixed
    bottom 0
    left 0
    right 0
    &::after
        content ""
        display block
        width 100%
        height 4px
        background-color #b38b10
        position absolute
        bottom 0
        left 0
        right 0
    +below(991px)
        display none

    &__in
        container(1030px)
        padding 0 20px 4px
        // height 224px

    &__go-top
        display inline-block
        height 20px
        background transparent
        border none
        outline none
        color #898989
        font(Regular,50)
        font-size 14px
        line-height 20px
        padding-right 35px
        position absolute
        right 255px
        bottom 18px
        opacity 0
        transition opacity 1.5s ease
        cursor pointer
        &::before
            content ""
            display block
            width 20px
            height 20px
            background-color #898989
            position absolute
            top 0
            right 0
        &::after
            content ""
            display block
            width 6px
            height 6px
            border-bottom 1px solid #fff
            border-right 1px solid #fff
            transform rotate(-135deg)
            transform-origin center center
            position absolute
            right 7px
            top 9px
        &.visible
            opacity 1

    &__write-us
        display block
        width 220px
        height 35px
        background-color #b38b10
        border none
        outline none
        color white
        font(Regular,50)
        font-size 18px
        line-height 35px
        text-decoration none
        text-align center
        cursor pointer
        position absolute
        bottom 4px
        right 20px
        &:hover
            text-decoration underline

    &__form
        position absolute
        bottom -224px
        right 20px
        z-index 1500
        transition bottom .5s ease
        &.on
            bottom 4px

