.page
    height 100%
    &
    &__container
        transition all .3s ease

    &__container
        display flex
        flex-direction column
        height 100%
        &.fixed
            top 0
            left 0
            right 0
            position fixed

    &__header
        flex none
        width 100%

    &__main
        flex 1 0 auto
        width 100%

    &__footer
        flex none
        width 100%

