mixin preview()
    .preview&attributes(attributes)
        .preview__thumbs
            img(src="assets/img/card/photo-1.jpg" alt="").preview__thumb
            img(src="assets/img/card/photo-3.jpg" alt="").preview__thumb
            img(src="assets/img/card/photo-2.jpg" alt="").preview__thumb
            img(src="assets/img/card/photo-4.jpg" alt="").preview__thumb
        .preview__stage
            img(src="assets/img/card/photo-1.jpg" alt="").preview__img

