.input
    display flex
    flex-flow row nowrap
    justify-content flex-start
    width 100%
    border-bottom 1px solid #a2a2a2

    &__label
        flex 0 0 85px
        padding 0 10px
        color #b38b10
        font(Regular,50)
        font-size 14px
        line-height 26px
        margin 0

    &__input
        flex 1 1 auto
        min-width 50px
        display block
        border none
        padding 0 10px 0 0
        color #aeaeae
        font(Regular,50)
        font-size 12px
        line-height 26px

