.title
    color #383838
    font(PlayBold)
    font-size 20px
    line-height 1.2
    text-align center
    // text-transform uppercase
    text-decoration underline
    padding 0 20px
    margin 2.5em auto 2.2em
    +below(479px)
        font-size 18px
        margin 2em auto 1.5em
    &--lower
        font-size 18px
        // text-transform none
        +below(479px)
            font-size 16px
