.textarea
    display block
    width 100%
    position relative
    & label.error
        display inline-block
        width auto
        left 0px
        z-index 100

    &__label
        display block
        padding 0 10px
        color #b38b10
        font(Regular,50)
        font-size 14px
        line-height 26px
        margin 0

    &__textarea
        display block
        width 100%
        max-width 100%
        min-width 50px
        height 70px
        resize none
        border 1px solid #898989
        padding 7px 10px
        color #aeaeae
        font(Regular,50)
        font-size 12px
        line-height 1.2
        &.error
            border 1px dotted rgba(255,0,0,.3)
