html
    box-sizing border-box
    height 100%
    margin 0

*, *:before, *:after
    box-sizing inherit

body
    color #333
    font()
    font-size 16px
    line-height 1
    background-color #fff
    min-width 300px
    height 100%
    position relative
    left 0
    overflow-x hidden
    overflow-y scroll
    -webkit-font-smoothing subpixel-antialiased !important
    -webkit-backface-visibility hidden
       -moz-backface-visibility hidden
        -ms-backface-visibility hidden

    &:after
        display table
        clear both
        content ""

.hidden
    display none

a, input, *:focus
    outline none


// Полосы прокрутки

::-webkit-scrollbar-button
    background-image url("")
    background-repeat no-repeat
    width 5px
    height 0px

// Дорожка, по которой двигается бегунок прокрутки:
::-webkit-scrollbar-track
    background-color #ddd

// Бегунок полосы прокрутки:
::-webkit-scrollbar-thumb
    -webkit-border-radius 0px
    border-radius 0px
    background-color #898989

::-webkit-scrollbar-thumb:hover
    background-color darken(#898989,20%)

::-webkit-resizer
    background-image url("")
    background-repeat no-repeat
    width 9px
    height 0px

// Основная ширина полосы прокрутки.
::-webkit-scrollbar
    width 9px

label.error
    display inline-block
    width 100%
    background-color #fdfcd3
    border 1px solid #ddd
    border-radius 3px
    color #900
    font()
    font-size 12px
    padding 8px 10px
    box-shadow 0 0 10px rgba(0, 0, 0, 0.15)
    position absolute
    top 95%
    left 0
    &::before
        content ""
        display block
        width 14px
        height 7px
        border-style solid
        border-width 0 7px 7px 7px
        border-color transparent transparent #ddd transparent
        position absolute
        top -7px
        left 10px
    &::after
        content ""
        display block
        width 14px
        height 7px
        border-style solid
        border-width 0 6px 6px 6px
        border-color transparent transparent #fdfcd3 transparent
        position absolute
        top -6px
        left 10px

