html
    box-sizing border-box
    height 100%
    margin 0

*, *:before, *:after
    box-sizing inherit

body
    color #333
    font()
    font-size 16px
    line-height 1
    background-color #fff
    min-width 300px
    height 100%
    position relative
    left 0
    overflow-x hidden
    overflow-y scroll
    -webkit-font-smoothing subpixel-antialiased !important
    -webkit-backface-visibility hidden
       -moz-backface-visibility hidden
        -ms-backface-visibility hidden

    &:after
        display table
        clear both
        content ""

.hidden
    display none

a, input, *:focus
    outline none


// Полосы прокрутки

::-webkit-scrollbar-button
    background-image url("")
    background-repeat no-repeat
    width 5px
    height 0px

// Дорожка, по которой двигается бегунок прокрутки:
::-webkit-scrollbar-track
    background-color #ddd

// Бегунок полосы прокрутки:
::-webkit-scrollbar-thumb
    -webkit-border-radius 0px
    border-radius 0px
    background-color #898989

::-webkit-scrollbar-thumb:hover
    background-color darken(#898989,20%)

::-webkit-resizer
    background-image url("")
    background-repeat no-repeat
    width 9px
    height 0px

// Основная ширина полосы прокрутки.
::-webkit-scrollbar
    width 9px

