h1
h2
h3
h4
h5
h6
    color $heading-color
    font(Bold)
    margin 1em 0 0.5em
    line-height normal

h1
    font-size 2.6em

h2
    font-size 2.3em

h3
    font-size 2em

h4
    font-size 1.8em

h5
    font-size 1.4em

h6
    font-size 1.2em

p
    color color #383838
    font(Light,-10)
    font-size 14px
    line-height 1.5
    margin 0

.intro
    color #383838
    font(Medium,-10)
    font-size 15px
    line-height 20px
    margin 0 0 40px

a
    color #b38b10
    text-decoration none

    &:hover
        color #b38b10
        text-decoration underline

img
    max-width 100%
    height auto

i
em
    font-style italic

b
strong
    font(Bold)

ol
ul
    list-style-position inside
    padding-left 2em

ul
    list-style-type disc

ol
    list-style-type decimal

dt
dd
    line-height $base-line-height

dt
    font(Bold)

dd
    margin-left 0 //- Undo browser default

pre
code
    font-family $fixed-font-family
    font-size $fixed-font-size
    line-height $fixed-line-height

    overflow hidden
    white-space pre-wrap
    word-wrap break-word
    tab-size 4

pre
    padding 1em
    background #eee
    border-radius 3px

q
    quotes "«" "»"
    font-style italic

    q
        quotes "„" "“"
        font-style italic

blockquote
    display block
    max-width 620px
    color #383838
    font(Medium,-10)
    font-size 20px
    line-height 1.2
    text-align center
    margin 50px auto
    padding-top 20px
    position relative
    &::before
        content ""
        display block
        width 120px
        height 2px
        background-color #b38b10
        position absolute
        top 0
        left 50%
        margin-left -60px



hr
    display block
    height 1px
    border 0
    border-top 1px solid #ccc
    margin 1em 0
    padding 0


.center
    text-align center

.clear
    clear both

.clearfix
    cf()

.text-muted
    &
    & > *
        color $base-quiet-color


.content-wrapper
    img[align="left"]
    img[style*="float: left"]
    img[style*="float:left"]
        margin 5px 15px 0px 0px

    img[align="right"]
    img[style*="float: right"]
    img[style*="float:right"]
        margin 5px 0px 0px 15px

.align-image-center
    text-align center

.align-image-left
    float left
    margin 5px 15px 0px 0px

.align-image-right
    float right
    margin 5px 0px 0px 15px


.align-image-left
.align-image-right
.align-image-center
    img
        +below(375px)
            margin 0
            float none
            width 100%
            height auto
            display block

.fluid-image
    max-width 100%
    height auto
    display block
