@font-face
    font-family "Rubik-Regular"
    src url("fonts/Rubik-Regular/Rubik-Regular.eot")
    src url("fonts/Rubik-Regular/Rubik-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/Rubik-Regular/Rubik-Regular.woff2") format("woff2"),
        url("fonts/Rubik-Regular/Rubik-Regular.woff") format("woff"),
        url("fonts/Rubik-Regular/Rubik-Regular.ttf") format("truetype"),
        url("fonts/Rubik-Regular/Rubik-Regular.svg#Rubik-Regular") format("svg")
    font-style normal
    font-weight 400

@font-face
    font-family "Rubik-Bold"
    src url("fonts/Rubik-Bold/Rubik-Bold.eot")
    src url("fonts/Rubik-Bold/Rubik-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Rubik-Bold/Rubik-Bold.woff2") format("woff2"),
        url("fonts/Rubik-Bold/Rubik-Bold.woff") format("woff"),
        url("fonts/Rubik-Bold/Rubik-Bold.ttf") format("truetype"),
        url("fonts/Rubik-Bold/Rubik-Bold.svg#Rubik-Bold") format("svg")
    font-style normal
    font-weight 700

@font-face
    font-family "Rubik-Light"
    src url("fonts/Rubik-Light/Rubik-Light.eot")
    src url("fonts/Rubik-Light/Rubik-Light.eot?#iefix") format("embedded-opentype"),
        url("fonts/Rubik-Light/Rubik-Light.woff2") format("woff2"),
        url("fonts/Rubik-Light/Rubik-Light.woff") format("woff"),
        url("fonts/Rubik-Light/Rubik-Light.ttf") format("truetype"),
        url("fonts/Rubik-Light/Rubik-Light.svg#Rubik-Light") format("svg")
    font-style normal
    font-weight 300

@font-face
    font-family "Rubik-Medium"
    src url("fonts/Rubik-Medium/Rubik-medium.eot")
    src url("fonts/Rubik-Medium/Rubik-medium.eot?#iefix") format("embedded-opentype"),
        url("fonts/Rubik-Medium/Rubik-medium.woff2") format("woff2"),
        url("fonts/Rubik-Medium/Rubik-medium.woff") format("woff"),
        url("fonts/Rubik-Medium/Rubik-medium.ttf") format("truetype"),
        url("fonts/Rubik-Medium/Rubik-medium.svg#Rubik-Medium") format("svg")
    font-style normal
    font-weight 500

@font-face
    font-family "PlayfairDisplaySC-Regular"
    src url("fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.eot")
    src url("fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.woff2") format("woff2"),
        url("fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.woff") format("woff"),
        url("fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.ttf") format("truetype"),
        url("fonts/PlayfairDisplaySC-Regular/PlayfairDisplaySC-Regular.svg#PlayfairDisplaySC-Regular") format("svg")
    font-style normal
    font-weight 400

@font-face
    font-family "PlayfairDisplaySC-Bold"
    src url("fonts/PlayfairDisplaySC-Bold/PlayfairDisplaySC-Bold.eot")
    src url("fonts/PlayfairDisplaySC-Bold/PlayfairDisplaySC-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/PlayfairDisplaySC-Bold/PlayfairDisplaySC-Bold.woff2") format("woff2"),
        url("fonts/PlayfairDisplaySC-Bold/PlayfairDisplaySC-Bold.woff") format("woff"),
        url("fonts/PlayfairDisplaySC-Bold/PlayfairDisplaySC-Bold.ttf") format("truetype"),
        url("fonts/PlayfairDisplaySC-Bold/PlayfairDisplaySC-Bold.svg#PlayfairDisplaySC-Bold") format("svg")
    font-style normal
    font-weight 700

@font-face
    font-family "PTSans-Narrow"
    src url("fonts/PTSans-Narrow/PTSans-Narrow.eot")
    src url("fonts/PTSans-Narrow/PTSans-Narrow.eot?#iefix") format("embedded-opentype"),
        url("fonts/PTSans-Narrow/PTSans-Narrow.woff2") format("woff2"),
        url("fonts/PTSans-Narrow/PTSans-Narrow.woff") format("woff"),
        url("fonts/PTSans-Narrow/PTSans-Narrow.ttf") format("truetype"),
        url("fonts/PTSans-Narrow/PTSans-Narrow.svg#PTSans-Narrow") format("svg")
    font-style normal
    font-weight normal




