include ../preview/preview

mixin card()
    section.card&attributes(attributes)
        .card__in
            .card__left
                +preview()
            .card__right
                h1.card__title ROLEX STYLE NO: 116622 BL ROLEX OYSTER PERPETUAL YACHTMASTER
                ul.card__values
                    li.card__value <span>Ref:</span> 26003BA.00.D088CR.01
                    li.card__value <span>Retail:</span> $79,900.00
                    li.card__value <span>Механизм:</span> механический с автоподзаводом, запас хода 40 часов, вечный календарь с уравнением
                    li.card__value <span>Корпус:</span> желтое золото
                    li.card__value <span>Ремень:</span> кожаный, клипса
                    li.card__value <span>Стекло:</span> сапфировое
                    li.card__value <span>Водонепроницаемость:</span> 20.0 м
                    li.card__value <span>Размер корпуса:</span> 43.0 мм
                    li.card__value <span>Коробка:</span> есть
                    li.card__value <span>Документы:</span> есть
                    li.card__value <span>Стекло:</span> сапфировое
                    li.card__value <span>Водонепроницаемость:</span> 20.0 м
                    li.card__value <span>Размер корпуса:</span> 43.0 мм

                p.card__price <span>18&nbsp;000&nbsp;$</span> <span>15&nbsp;000&nbsp;&euro;</span> <span>1&nbsp;200&nbsp;000&nbsp;<span class="rub">Р</span></span>
                .card__buttons
                    a(href="#" role="button").card__button
                        span Забронировать товар
                    a(href="#" role="button").card__button
                        span Задать<br>вопрос


