include ../preview/preview

mixin card()
    section.card&attributes(attributes)
        .card__in
            .card__left
                +preview()
            .card__right
                h1.card__title ROLEX STYLE NO: 116622 BL ROLEX OYSTER PERPETUAL YACHTMASTER
                ul.card__values
                    li.card__value <span>Ref:</span> <span>26003BA.00.D088CR.01</span>
                    li.card__value <span>Retail:</span> <span>$79,900.00</span>
                    li.card__value <span>Механизм:</span> <span>механический с автоподзаводом, запас хода 40 часов, вечный календарь с уравнением</span>
                    li.card__value <span>Корпус:</span> <span>желтое золото</span>
                    li.card__value <span>Ремень:</span> <span>кожаный, клипсаv
                    li.card__value <span>Стекло:</span> <span>сапфировое</span>
                    li.card__value <span>Водонепроницаемость:</span> <span>20.0 м</span>
                    li.card__value <span>Размер корпуса:</span> <span>43.0 мм</span>
                    li.card__value <span>Коробка:</span> <span>есть</span>
                    li.card__value <span>Документы:</span> <span>есть</span>
                    li.card__value <span>Стекло:</span> <span>сапфировое</span>
                    li.card__value <span>Водонепроницаемость:</span> <span>20.0 м</span>
                    li.card__value <span>Размер корпуса:</span> <span>43.0 мм</span>

                p.card__price <span>18&nbsp;000&nbsp;$</span> <span>15&nbsp;000&nbsp;&euro;</span> <span>1&nbsp;200&nbsp;000&nbsp;<span class="rub">Р</span></span>
                .card__buttons
                    a(href="#" role="button").card__button
                        span Забронировать<br>товар
                    a(href="#" role="button").card__button
                        span Задать<br>вопрос


