mixin partners()
    .partners&attributes(attributes)
        .partners__in
            ul.partners__partners
                li.partners__partner.active Казань
                li.partners__partner Санкт-Петербург
                li.partners__partner Краснодар
                li.partners__partner Калининград
                li.partners__partner Киев (Украина)
                li.partners__partner Алматы (Казахстан)
                li.partners__partner Рига (Латвия)
            ul.partners__contacts
                li.partners__contact.active Тел.: <a href="tel:+380674404088" class="partners__phone">+180 67 440 40 88</a>
                li.partners__contact Тел.: <a href="tel:+380674404088" class="partners__phone">+280 67 440 40 88</a>
                li.partners__contact Тел.: <a href="tel:+380674404088" class="partners__phone">+380 67 440 40 88</a>
                li.partners__contact Тел.: <a href="tel:+380674404088" class="partners__phone">+4380 67 440 40 88</a>
                li.partners__contact Тел.: <a href="tel:+380674404088" class="partners__phone">+580 67 440 40 88</a>
                li.partners__contact Тел.: <a href="tel:+380674404088" class="partners__phone">+6380 67 440 40 88</a>
                li.partners__contact Тел.: <a href="tel:+380674404088" class="partners__phone">+780 67 440 40 88</a>
