mixin tabs()
    .tabs&attributes(attributes)
        ul.tabs__tabs
            li(data-tab="services-credit").tabs__tab.active
                a(href="").tabs__tab-link Получить<br>кредит
            li(data-tab="services-evaluation").tabs__tab
                a(href="").tabs__tab-link Оценка<br>изделий
            li(data-tab="services-shop").tabs__tab
                a(href="").tabs__tab-link Комиссионный<br>магазин
            li(data-tab="services-remont").tabs__tab
                a(href="").tabs__tab-link Ремонт<br>часов
            li(data-tab="services-storage").tabs__tab
                a(href="").tabs__tab-link Хранение<br>и страхование

        ul.tabs__pages
            li.tabs__page.active
                h2.tabs__title Получить кредит
                .tabs__text
                    p.tabs__intro Для того, чтобы получить в Первом Часовом Ломбарде кредит на любую, даже самую солидную сумму под залог дорогостоящих швейцарских часов, вам нужно всего лишь:
                    p 1. Согласовать по телефону с представителем Первого Часового Ломбарда предварительную стоимость ваших швейцарских часов и время вашего визита в наш офис.
                    p 2. Посетить наш офис в назначенное время, имея на руках действующий паспорт и швейцарские часы (наличие документов на часы необязательно, так как их подлинность и точная стоимость будут установлены на месте в течение 5-ти минут).
                    p 3. По окончании экспертизы часов и подписания необходимых документов получить деньги.
                    p 4. Крупные суммы рассматриваются в индивидуальном порядке.
                    p Получение кредита под швейцарские часыПервый Часовой Ломбард — ведущая российская компания, предлагающая весь спектр услуг, связанных с обладанием швейцарскими часами класса «люкс». Мы предлагаем сотрудничество тем, кто хочет извлекать максимальную выгоду из имеющихся в распоряжении дорогостоящих ювелирных украшений и аксессуаров. Мы всегда готовы помочь, если финансовые средства нужны в «режиме A.S.A.P» (as soon as possible — как можно скорее).
                    p Вот уже второе десятилетие старейшая респектабельная организация страны — Первый Часовой Ломбард — принимает в залог и приобретает дорогостоящие швейцарские часы "Бриге", "Патек Филлип", "Адемар Пиге", "Ролекс" и других марок, высокая стоимость которых не влияет на оперативность нашего сотрудничества с клиентами. 
                    p Порой жизнь складывается так, что нам приходится задействовать весь потенциал.
            li.tabs__page
                h2.tabs__title Оценка изделий
                .tabs__text
                    p.tabs__intro Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quis, debitis. Laborum nisi voluptates officia aliquam optio ipsum, animi, tempore aspernatur reprehenderit non praesentium commodi suscipit facere illum eum sapiente.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas pariatur quae possimus quia deleniti minima sapiente reiciendis, recusandae, dicta voluptatem assumenda iusto tempora eligendi! Numquam rerum quo, nobis vitae officiis!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!

            li.tabs__page
                h2.tabs__title Комиссионный магазин
                .tabs__text
                    p.tabs__intro Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quis, debitis. Laborum nisi voluptates officia aliquam optio ipsum, animi, tempore aspernatur reprehenderit non praesentium commodi suscipit facere illum eum sapiente.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas pariatur quae possimus quia deleniti minima sapiente reiciendis, recusandae, dicta voluptatem assumenda iusto tempora eligendi! Numquam rerum quo, nobis vitae officiis!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    
            li.tabs__page
                h2.tabs__title Ремонт часов
                .tabs__text
                    p.tabs__intro Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quis, debitis. Laborum nisi voluptates officia aliquam optio ipsum, animi, tempore aspernatur reprehenderit non praesentium commodi suscipit facere illum eum sapiente.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas pariatur quae possimus quia deleniti minima sapiente reiciendis, recusandae, dicta voluptatem assumenda iusto tempora eligendi! Numquam rerum quo, nobis vitae officiis!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    
            li.tabs__page
                h2.tabs__title Хранение и страхование
                .tabs__text
                    p.tabs__intro Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quis, debitis. Laborum nisi voluptates officia aliquam optio ipsum, animi, tempore aspernatur reprehenderit non praesentium commodi suscipit facere illum eum sapiente.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas pariatur quae possimus quia deleniti minima sapiente reiciendis, recusandae, dicta voluptatem assumenda iusto tempora eligendi! Numquam rerum quo, nobis vitae officiis!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti mollitia accusantium, placeat quaerat consequatur laboriosam laborum, nihil animi reiciendis architecto qui adipisci odit culpa quisquam iusto, consectetur iure assumenda temporibus!
                    



    
