- var section = "about"

include ../blocks/head/head
include ../blocks/scripts/scripts
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/sticker/sticker
include ../blocks/side-right/side-right
include ../blocks/form-subscribe/form-subscribe
include ../blocks/why/why
include ../blocks/photos/photos

doctype html

// Верстка сайта: http://web-master-pro.ru

html(lang="ru-RU")

    +head("О нас")

    body.page
        .page__container
            +header(class="page__header")
                img(src="assets/img/about-header.jpg" alt="").header__img
            main.main.page__main
                h2.title О нас
                .introduction.introduction--about
                    blockquote.introduction__quote «Говорят, будто часы подобны философам: невозможно найти хотя бы двоих, полностью согласных между собою.»
                    cite.introduction__cite - (с) Эрнест Хемингуей
                    p.introduction__text Our shirt factory is located in Ashland, PA and our neckwear factory in Pilot Mountain, NC. Our wholesale showroom and corporate office is located in New York City. Our shirt factory is located in Ashland, PA and our neckwear factory in Pilot Mountain, NC. Our wholesale showroom and corporate office is located in New York City. Our shirt factory is located in Ashland, PA and our neckwear factory in Pilot Mountain, NC. Our wholesale showroom and corporate office is located in New York City.
                +why()
                +photos()
                +form-subscribe()
            +footer(class="page__footer")
            +sticker()
        +side-right()
        +scripts()
