- var section = "blog"

include ../blocks/head/head
include ../blocks/scripts/scripts
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/sticker/sticker
include ../blocks/side-right/side-right
include ../blocks/form-subscribe/form-subscribe
include ../blocks/block-blog/block-blog
include ../blocks/watches/watches
include ../blocks/slider-article/slider-article
include ../blocks/share/share
include ../blocks/breadcrumb/breadcrumb

doctype html

// Верстка сайта: http://web-master-pro.ru

html(lang="ru-RU")

    +head("Статья")

    body.page
        .page__container
            +header(class="page__header")
                //- img(src="assets/img/article-header.jpg" alt="").header__img
            main.main
                article.article
                    .article__container
                        header(style="background-image: url(assets/img/article-header.jpg);").article__header
                            .article__header-content
                                h1.article__title DUOMETR<br>LUXURY WATCH
                                p.article__subtitle Kelly leather handbag
                                p.article__author Автор: Антон Ditch
                                time(datetime="2016-04-27").article__date 27.04.2016
                        .article__content.content-wrapper
                            p.intro Этот швейцарский бренд, под которым выпускаются наручные часы и аксессуары, давно и прочно ассоциируется у большинства населения Земли с достатком и роскошью. Компания Rolex, SA — одна из самых известных и уважаемых во всем мире. Но интересно, что человек её основавший не был потомственным часовщиком. Да что и говорить, родом он даже не происходил из Швейцарии.
                            p Этот швейцарский бренд, под которым выпускаются наручные часы и аксессуары, давно и прочно ассоциируется у большинства населения Земли с достатком и роскошью. Компания Rolex, SA — одна из самых известных и уважаемых во всем мире. Но интересно, что человек её основавший не был потомственным часовщиком. Да что и говорить, родом он даже не происходил из Швейцарии.
                            p <a href="#">Ганс Вилсдорф (Hans Wilsdorf)</a> по происхождению был баварцем. И первое время на жизнь зарабатывал, будучи работником крупной компании, занимавшейся экспортом жемчуга. Проработав там некоторое время, он предпочёл перейти в компанию своего школьного друга, которая занималась экспортом швейцарских часов. Так Вилсдорф и попал в этот легендарный мир швейцарских часовых механизмов.
                            p Но видимо работа в чужих компаниях тяготила Вилсдорфа. И проработав некоторое время в компании друга, он решил уйти и основать собственную, также работающую в сфере экспорта часов. Находилась она в Лондоне и называлась Wilsdorf&amp;Devis (W&amp;D) — второе имя в компании принадлежало сводному брату Вилсдорфа. Основной сферой деятельности были поставки карманных часов на берега Туманного Альбиона. Производством часовых механизмов занимались сторонние швейцарские производители, но на корпуса готовой продукции ставился вензель W&amp;D.

                            blockquote “И проработав некоторое время в компании друга, он решил уйти и основать собственную, также работающую в сфере экспорта часов. ”

                            p Этот швейцарский бренд, под которым выпускаются наручные часы и аксессуары, давно и прочно ассоциируется у большинства населения Земли с достатком и роскошью. Компания Rolex, SA — одна из самых известных и уважаемых во всем мире. Но интересно, что человек её основавший не был потомственным часовщиком. Да что и говорить, родом он даже не происходил из Швейцарии.
                            p Ганс Вилсдорф (Hans Wilsdorf) по происхождению был баварцем. И первое время на жизнь зарабатывал, будучи работником крупной компании, занимавшейся экспортом жемчуга. Проработав там некоторое время, он предпочёл перейти в компанию своего школьного друга, которая занималась экспортом швейцарских часов. Так Вилсдорф и попал в этот легендарный мир швейцарских часовых механизмов.
                            p Но видимо работа в чужих компаниях тяготила Вилсдорфа. И проработав некоторое время в компании друга, он решил уйти и основать собственную, также работающую в сфере экспорта часов. <a href="#">Находилась она в Лондоне</a> и называлась Wilsdorf&amp;Devis (W&amp;D) — второе имя в компании принадлежало сводному брату Вилсдорфа. Основной сферой деятельности были поставки карманных часов на берега Туманного Альбиона. Производством часовых механизмов занимались сторонние швейцарские производители, но на корпуса готовой продукции ставился вензель W&amp;D.

                            +slider-article()

                            p Этот швейцарский бренд, под которым выпускаются наручные часы и аксессуары, давно и прочно ассоциируется у большинства населения Земли с достатком и роскошью. Компания Rolex, SA — одна из самых известных и уважаемых во всем мире. Но интересно, что человек её основавший не был потомственным часовщиком. Да что и говорить, родом он даже не происходил из Швейцарии.
                            p Ганс Вилсдорф (Hans Wilsdorf) по происхождению был баварцем. <a href="#">И первое время на жизнь зарабатывал</a>, будучи работником крупной компании, занимавшейся экспортом жемчуга. Проработав там некоторое время, он предпочёл перейти в компанию своего школьного друга, которая занималась экспортом швейцарских часов. Так Вилсдорф и попал в этот легендарный мир швейцарских часовых механизмов.
                            p Но видимо работа в чужих компаниях тяготила Вилсдорфа. И проработав некоторое время в компании друга, он решил уйти и основать собственную, также работающую в сфере экспорта часов. Находилась она в Лондоне и называлась Wilsdorf&amp;Devis (W&amp;D) — второе имя в компании принадлежало сводному брату Вилсдорфа. Основной сферой деятельности были поставки карманных часов на берега Туманного Альбиона. Производством часовых механизмов занимались сторонние швейцарские производители, но на корпуса готовой продукции ставился вензель W&amp;D.

                            blockquote “И проработав некоторое время в компании друга, он решил уйти и основать собственную, также работающую в сфере экспорта часов. ”

                            p Этот швейцарский бренд, под которым выпускаются наручные часы и аксессуары, давно и прочно ассоциируется у большинства населения Земли с достатком и роскошью. Компания Rolex, SA — одна из самых известных и уважаемых во всем мире. Но интересно, что человек её основавший не был потомственным часовщиком. Да что и говорить, родом он даже не происходил из Швейцарии.
                            p <a href="#">Ганс Вилсдорф (Hans Wilsdorf)</a> по происхождению был баварцем. И первое время на жизнь зарабатывал, будучи работником крупной компании, занимавшейся экспортом жемчуга. Проработав там некоторое время, он предпочёл перейти в компанию своего школьного друга, которая занималась экспортом швейцарских часов. Так Вилсдорф и попал в этот легендарный мир швейцарских часовых механизмов.
                            p Но видимо работа в чужих компаниях тяготила Вилсдорфа. И проработав некоторое время в компании друга, он решил уйти и основать собственную, также работающую в сфере экспорта часов. Находилась она в Лондоне и называлась Wilsdorf&amp;Devis (W&amp;D) — второе имя в компании принадлежало сводному брату Вилсдорфа. Основной сферой деятельности были поставки карманных часов на берега Туманного Альбиона. Производством часовых механизмов занимались сторонние швейцарские производители, но на корпуса готовой продукции ставился вензель W&amp;D.

                        footer.article__footer
                            +share(class="article__share")
                            +breadcrumb()

                +block-blog("ПОСЛЕДНИЕ СТАТЬИ")
                h2.title ПОСЛЕДНИЕ ПРОСМОТРЕННЫЕ
                +watches()
                +form-subscribe()
            +footer(class="page__footer")
            +sticker()
        +side-right()
        +scripts()
