- var section = "blog"

include ../blocks/head/head
include ../blocks/scripts/scripts
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/sticker/sticker
include ../blocks/side-right/side-right
include ../blocks/form-subscribe/form-subscribe
include ../blocks/block-blog/block-blog
include ../blocks/breadcrumb/breadcrumb

doctype html

// Верстка сайта: http://web-master-pro.ru

html(lang="ru-RU")

    +head("Блог")

    body.page
        .page__container
            +header(class="page__header")
                img(src="assets/img/article-header.jpg" alt="").header__img
            main.main.page__main
                +breadcrumb-blog()
                +block-blog-main("БЛОГ")
                +form-subscribe()
            +footer(class="page__footer")
            +sticker()
        +side-right()
        +scripts()
