- var section = "buy"

include ../blocks/head/head
include ../blocks/scripts/scripts
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/sticker/sticker
include ../blocks/side-right/side-right
include ../blocks/form-subscribe/form-subscribe
include ../blocks/watches/watches
include ../blocks/card/card

doctype html

// Верстка сайта: http://web-master-pro.ru

html(lang="ru-RU")

    +head("Карточка")

    body.page
        .page__container
            +header(class="page__header")
            main.main.page__main
                +card()
                h2.title ПОСЛЕДНИЕ ПРОСМОТРЕННЫЕ
                +watches()
                +form-subscribe()
            +footer(class="page__footer")
            +sticker()
        +side-right()
        +scripts()
