- var section = "contacts"

include ../blocks/head/head
include ../blocks/scripts/scripts
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/sticker/sticker
include ../blocks/side-right/side-right
include ../blocks/form-subscribe/form-subscribe
include ../blocks/contacts/contacts
include ../blocks/partners/partners
include ../blocks/form/form
include ../blocks/map/map

doctype html

// Верстка сайта: http://web-master-pro.ru

html(lang="ru-RU")

    +head("Контакты")

    body.page
        .page__container
            +header(class="page__header")
                img(src="assets/img/contacts-header.jpg" alt="").header__img
            main.main.page__main
                h1.title КОНТАКТЫ
                +contacts()
                h2.title НАПИСАТЬ НАМ
                +form-contacts()
                h2.title КАК ДОБРАТЬСЯ
                +map()
                h2.title Партнеры
                +partners()
                +form-subscribe()
            +footer(class="page__footer")
            +sticker()
        +side-right()
        +scripts()
