include ../blocks/head/head
include ../blocks/scripts/scripts

include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/sticker/sticker
include ../blocks/side-right/side-right

doctype html

// Верстка сайта: http://web-master-pro.ru

html(lang="ru-RU")

    +head("Главная страница")

    body.page
        .page__container
            +header(id="header")
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
                
            +footer(id="footer")
            +sticker()
        +side-right()
        +scripts()
