- var section = "main"

include ../blocks/head/head
include ../blocks/scripts/scripts
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/sticker/sticker
include ../blocks/side-right/side-right
include ../blocks/form-subscribe/form-subscribe
include ../blocks/slider-header/slider-header
include ../blocks/watches/watches
include ../blocks/block-sale/block-sale
include ../blocks/block-blog/block-blog

doctype html

// Верстка сайта: http://web-master-pro.ru

html(lang="ru-RU")

    +head("Главная страница")

    body.page
        .page__container
            +header(class="page__header")
                +slider-header(class="header__slider")
            main.main
                h2.title ПОСЛЕДНИЕ ПОСТУПЛЕНИЯ
                +watches()
                +block-sale()
                +watches-2()
                +block-blog("БЛОГ")
                +form-subscribe()
            +footer(class="page__footer")
            +sticker()
        +side-right()
        +scripts()
