- var section = "sale"

include ../blocks/head/head
include ../blocks/scripts/scripts
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/sticker/sticker
include ../blocks/side-right/side-right
include ../blocks/form-subscribe/form-subscribe

doctype html

// Верстка сайта: http://web-master-pro.ru

html(lang="ru-RU")

    +head("Продажа")

    body.page.page-sale
        .page__container
            +header(id="header")
                img(src="assets/img/sale-header.jpg" alt="").header__img
            main.main
                .main__in
                +form-subscribe()
            +footer(id="footer")
            +sticker()
        +side-right()
        +scripts()
