- var section = "services"

include ../blocks/head/head
include ../blocks/scripts/scripts
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/sticker/sticker
include ../blocks/side-right/side-right
include ../blocks/form-subscribe/form-subscribe
include ../blocks/tabs/tabs

doctype html

// Верстка сайта: http://web-master-pro.ru

html(lang="ru-RU")

    +head("Услуги")

    body.page.page--services
        .page__container
            +header(id="header")
            main.main
                .main__in
                    h1.title Услуги
                    +tabs()
                +form-subscribe()
            +footer(id="footer")
            +sticker()
        +side-right()
        +scripts()
