- var section = "services"

include ../blocks/head/head
include ../blocks/scripts/scripts
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/sticker/sticker
include ../blocks/side-right/side-right
include ../blocks/form-subscribe/form-subscribe
include ../blocks/tabs/tabs

doctype html

// Верстка сайта: http://web-master-pro.ru

html(lang="ru-RU")

    +head("Услуги")

    body.page
        .page__container
            +header(class="page__header")
            main.main.page__main
                h1.title Услуги
                +tabs()
                +form-subscribe()
            +footer(class="page__footer")
            +sticker()
        +side-right()
        +scripts()
