mixin share()
    .share&attributes(attributes)
        h2.share__title Поделиться:
        .share__buttons
            a(href="#" role="button").share__button.share__button--facebook
            a(href="#" role="button").share__button.share__button--twitter
            a(href="#" role="button").share__button.share__button--pinterest
