mixin menu-lang()
    .menu-lang&attributes(attributes)
        button.menu-lang__button Русский
        ul.menu-lang__menu
            li.menu-lang__item
                a(href="#").menu-lang__link English
            li.menu-lang__item
                a(href="#").menu-lang__link Deutch

