.logo
    display inline-block
    max-width 270px
    +below(479px)
        max-width 200px

    &__link
        border none
        text-decoration none

    &__img
        display inline-block
        width 100%
        height auto


