mixin logo()
    .logo&attributes(attributes)
        a(href="main.html" title="Мануфактура").logo__link
            img(src="assets/img/logo.svg" width="270" height="50" alt="Мануфактура").logo__img

mixin logo-footer()
    .logo&attributes(attributes)
        a(href="main.html" title="Мануфактура").logo__link
            img(src="assets/img/logo-white.svg" width="270" height="50" alt="Мануфактура").logo__img
