mixin slider-article()
    figure.slider-article&attributes(attributes)
        .slider-article__slider
            img(src="assets/img/slider-article-1.jpg" alt="").slider-article__slide
            img(src="assets/img/slider-article-1.jpg" alt="").slider-article__slide
            img(src="assets/img/slider-article-1.jpg" alt="").slider-article__slide
        figcaption.slider-article__caption Этот швейцарский бренд, под которым выпускаются наручные часы и аксессуары.


