.watches
    display block
    width 100%
    padding-bottom 30px

    &__in
        container(980px)
        padding 0 20px

    &__list
        display block
        list-style none
        width 100%
        text-align center
        padding 0
        margin 0

    &__button-more
        margin-top 10px


.watch
    display inline-block
    width 210px
    height 334px
    background-color #fff
    border-radius 3px
    padding-top 25px
    margin 0 10px 0px
    transition background-color .3s ease
    &:hover
        background-color #f9f9f9

    &__link
        display inline-block
        text-decoration none
        &:hover
            text-decoration none

    &__img
        display block
        width 100%
        width 150px
        height 200px
        margin 0 auto 25px

    &__title
        color #383838
        font(Bold,50)
        font-size 16px
        line-height 1
        text-align center
        text-transform uppercase
        margin 0 0 5px

    &__subtitle
        color #383838
        font(Regular,50)
        font-size 14px
        line-height 1
        text-align center
        margin 0 0 10px

    &__price
        color #b38b10
        font(Bold,50)
        font-size 15px
        line-height 1
        text-align center
        text-transform uppercase

