include ../button-more/button-more

mixin watches()
    .watches&attributes(attributes)
        .watches__in
            ul.watches__list
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-1.png" width="150" height="200" alt="").watch__img
                        h3.watch__title HERMES
                        p.watch__subtitle Espace
                        p.watch__price $ 22000
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-2.png" width="150" height="200" alt="").watch__img
                        h3.watch__title Hublot
                        p.watch__subtitle King Power
                        p.watch__price $ 7500
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-3.png" width="150" height="200" alt="").watch__img
                        h3.watch__title HAMILTON
                        p.watch__subtitle H246550
                        p.watch__price $ 5000
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-4.png" width="150" height="200" alt="").watch__img
                        h3.watch__title ROLEX
                        p.watch__subtitle Datejust
                        p.watch__price $ 17000

mixin watches-2()
    .watches&attributes(attributes)
        .watches__in
            ul.watches__list
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-1.png" width="150" height="200" alt="").watch__img
                        h3.watch__title HERMES
                        p.watch__subtitle Espace
                        p.watch__price $ 22000
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-3.png" width="150" height="200" alt="").watch__img
                        h3.watch__title HAMILTON
                        p.watch__subtitle H246550
                        p.watch__price $ 5000
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-2.png" width="150" height="200" alt="").watch__img
                        h3.watch__title Hublot
                        p.watch__subtitle King Power
                        p.watch__price $ 7500
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-4.png" width="150" height="200" alt="").watch__img
                        h3.watch__title ROLEX
                        p.watch__subtitle Datejust
                        p.watch__price $ 17000
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-3.png" width="150" height="200" alt="").watch__img
                        h3.watch__title HAMILTON
                        p.watch__subtitle H246550
                        p.watch__price $ 5000
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-2.png" width="150" height="200" alt="").watch__img
                        h3.watch__title Hublot
                        p.watch__subtitle King Power
                        p.watch__price $ 7500
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-1.png" width="150" height="200" alt="").watch__img
                        h3.watch__title HERMES
                        p.watch__subtitle Espace
                        p.watch__price $ 22000
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-4.png" width="150" height="200" alt="").watch__img
                        h3.watch__title ROLEX
                        p.watch__subtitle Datejust
                        p.watch__price $ 17000

            +button-more(class="watches__button-more")


mixin watches-3()
    .watches&attributes(attributes)
        .watches__in
            ul.watches__list
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-1.png" width="150" height="200" alt="").watch__img
                        h3.watch__title HERMES
                        p.watch__subtitle Espace
                        p.watch__price $ 22000
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-3.png" width="150" height="200" alt="").watch__img
                        h3.watch__title HAMILTON
                        p.watch__subtitle H246550
                        p.watch__price $ 5000
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-2.png" width="150" height="200" alt="").watch__img
                        h3.watch__title Hublot
                        p.watch__subtitle King Power
                        p.watch__price $ 7500
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-4.png" width="150" height="200" alt="").watch__img
                        h3.watch__title ROLEX
                        p.watch__subtitle Datejust
                        p.watch__price $ 17000

                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-3.png" width="150" height="200" alt="").watch__img
                        h3.watch__title HAMILTON
                        p.watch__subtitle H246550
                        p.watch__price $ 5000
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-2.png" width="150" height="200" alt="").watch__img
                        h3.watch__title Hublot
                        p.watch__subtitle King Power
                        p.watch__price $ 7500
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-1.png" width="150" height="200" alt="").watch__img
                        h3.watch__title HERMES
                        p.watch__subtitle Espace
                        p.watch__price $ 22000
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-4.png" width="150" height="200" alt="").watch__img
                        h3.watch__title ROLEX
                        p.watch__subtitle Datejust
                        p.watch__price $ 17000

                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-1.png" width="150" height="200" alt="").watch__img
                        h3.watch__title HERMES
                        p.watch__subtitle Espace
                        p.watch__price $ 22000
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-3.png" width="150" height="200" alt="").watch__img
                        h3.watch__title HAMILTON
                        p.watch__subtitle H246550
                        p.watch__price $ 5000
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-2.png" width="150" height="200" alt="").watch__img
                        h3.watch__title Hublot
                        p.watch__subtitle King Power
                        p.watch__price $ 7500
                li.watch
                    a(href="card.html").watch__link
                        img(src="assets/img/watches/watch-4.png" width="150" height="200" alt="").watch__img
                        h3.watch__title ROLEX
                        p.watch__subtitle Datejust
                        p.watch__price $ 17000

            +button-more(class="watches__button-more")
