include ../button-detailes/button-detailes

mixin block-sale()
    section.block-sale&attributes(attributes)
        h2.block-sale__title ПРОДАТЬ ЧАСЫ
        p.block-sale__subtitle Kelly leather handbag
        +button-detailes()
