include ../logo/logo
include ../menu-main/menu-main
include ../menu-lang/menu-lang
include ../button-nav/button-nav

mixin header()
    header.header&attributes(attributes)
        .header__container
            .header__box
                +menu-lang(class="header__menu-lang")
                .header__top
                    +logo(class="header__logo")
                    +menu-main(class="header__menu-main")
                    +button-nav(class="header__button-nav")
                img(src="assets/img/about-header.jpg" alt="").header__img
