mixin why()
    section.why&attributes(attributes)
        .why__in
            h2.title.title--lower Почему мы?
            ol.why__list
                li.why__item
                    h3.why__caption Опыт.
                    p.why__text Свыше 15 лет мы принимаем часы и ювелирные изделия, предлагая выгодные условия.

                li.why__item
                    h3.why__caption Гарантии.
                    p.why__text Перед скупкой часы проходят тщательную проверку . На все часы распрстраняются гарантийные обязательства ломбарда (полгода).

                li.why__item
                    h3.why__caption Достоверное описание.
                    p.why__text Мы не пытаемся продать б/у часы как новые.

                li.why__item
                    h3.why__caption Скидки и специ&shy;альные цены.
                    p.why__text Обговариваемые с клиентами индивидуально.

                li.why__item
                    h3.why__caption Высокая стоимость оценки часов (б/у и&nbsp;новых).
                    p.why__text Мы знаем, сколько они стоят на самом деле.

