mixin form-subscribe()
    form(action="#" method="POST").form-subscribe#form-subscribe&attributes(attributes)
        .form-subscribe__in
            h3.form-subscribe__title Подписаться на рассылку
            .form-subscribe__group
                .form-subscribe__input-wrapper
                    input(type="email" name="email" placeholder="iwantwatches@gmail.com" data-rule-required="true" data-msg-required="Обязательное поле" data-rule-email="true" data-msg-email="Неправильный формат Email").form-subscribe__input#form-subscribe-email
                button(type="submit").form-subscribe__button
